body {
    background-color: #f9c784;
    text-align: center;
}
div.row {
    height: 100%;
    width: 50%;
    margin: auto;
    background-color: #273C2C;
    color: white;
}

#game_description {
    display: grid;
    height: 100%;
    width: 75%;
    margin: auto;
    text-align: center;
}

section.battle {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #485696;
    color: white;
}
#computer{
    margin: 0.5em;
    padding: 0.5em;
}

#user{
    margin: 0.5em;
    padding: 0.5em;
}

h2 {
    height: 100%;
    width: 100%;
    background-color: #273c2c;
    color: white;
}

#play_again{
    background-color: #485696;
    color: white;
}

footer {
    text-align: center;
}


/*#cpu_throw {
    display: flex;
    align-items: center;
    background-color: #273C2C;
    color: white;
    
}

#user_throw {
    display: flex;
    align-items: center;
    background-color: #273C2C;/
    color: white;
    
}