body {
    background-color: #625834;
    text-align: center;
}

h1 {
    background-color: #000;
    color: white;
}
div.row {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #000;
    color: white;
}

#game_description {
    display: grid;
    height: 100%;
    width: 75%;
    margin: auto;
    text-align: center;
}

section.battle {
    display: flex;
    /*width: 100%;*/
    justify-content: space-evenly;
    background-color: #a59132;
    color: white;
}
.computer{
    display: grid;
    grid-row-gap: 10px;
    margin: 0.5em;
    padding: 0.5em;
}

.user{
    display: grid;
    grid-row-gap: 10px;
    margin: 0.5em;
    padding: 0.5em;
}

h2 {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: white;
}

.play-again{
    display: grid;
    background-color: #000;
    color: white;
}

footer {
    text-align: center;
    color: white;
}

.winner {
    display: grid;
    grid-row-gap: 10px;
    justify-content: center;
    background-color:#a59132;
}