body {
    background-color: #625834;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #30362f;
    color: #f6f3df;
}
nav a{
    flex: 1;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    color: #f6f3df;
  }

.content {
    text-align: center;
    background-color: #a59132;
    color: black;
}

.caption {
    display: flex;
    justify-content: center;
}

form {
    color: #f6f3df;
    text-align: center;
}
